<!-- Footer be added soon -->
<hr>
<p> THE FOOTER SECTION IS HERE </p>
<hr>
<section>
    <h3>Brawlable</h3>
    <p>Your personal guide to Brawl Stars. The all-in-one website for beginners and pros.</p>
    <p>Social Media Platforms below :OOO</p>
</section>
<hr>
<section>
    <a href="/">Terms of Service</a>
    <a> | </a>
    <a href="/">Support</a>
    <a> | </a>
    <a href="/">About Us</a>
    <a> | </a>
    <a href="/">Site Map</a>
</section>
<hr>
<section>
    <p>This material is unofficial and is not endorsed by Supercell. For more information see Supercell's Fan Content
        Policy: <a href="https://www.supercell.com/fan-content-policy" target="_blank" rel="noopener noreferrer">
            www.supercell.com/fan-content-policy</a>.
    </p>
</section>