{% extends 'base.html' %}

{% block title %}Home - Brawlify{% endblock %}

{% block content %}
<!-- Call to Action Section :P -->
<section>
    <div class="container mt-5">
        <h1>Mastering Brawl Stars one step at a time.</h1>
        <p>Your guide to become a Brawl Star master.</p>
    </div>
</section>

<hr>

<!-- Beginner's Guide -->
<section>
    <div class="container mt-5">
        <h2>Are you new to Brawl Stars?</h2>
        <p>Learn the basics in just 5 minutes.</p>
    </div>
</section>

<hr>

<!-- Explorations -->
<section>
    <div class="container mt-5">
        <h2>What else can you explore?</h2>
        <p>EXplore more in-depth guides.</p>
    </div>
</section>

<hr>

<!-- Tell users to take action -->
<section>
    <div class="container mt-5">
        <h2>What are you waiting for?</h2>
        <p>Get started with your Brawl Stars journey today!</p>
    </div>
</section>

<hr>

<!-- Community Highlights -->
<section>
    <div class="container mt-5">
        <h2>Community Highlights</h2>
        <p>See what the Brawl Stars community is up to!</p>
    </div>
</section>

{% endblock %}